a {
    font: size 2px;
    color: rgb(167, 25, 108);
}
h1 {
    text-align:center;
    color:rgb(219, 29, 134);
    text-decoration: line-through;
}
h2 {
    text-align:center;
    color:rgb(38, 42, 92);
    text-decoration: line-through;
}